doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Portfolio of Ayansingha22')
        meta(name='author', content='Ayan Singha')

        title Ayansingha22

        link(rel='icon', type='image/x-icon', href='assets/img/icons8-portfolio.png')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.6.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')
        link(href='assets/font_mfizz/font-mfizz.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Ayan Singha
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#por') Certifications

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Ayan 
                        span.text-primary Singha
                    .subheading.mb-5
                        | Undergraduate Student,
                        br
                        | IIT Kharagpur, India
                        //- br
                        //- | Former Software Development Engineer at ABB
                        br
                        a(href='mailto:ayansingha002@gmail.com') ayansingha002@gmail.com
                    p.lead.mb-5
                        | #[strong About]
                        br
                        | Hi, my name is Ayan Singha. I am a pre-final year UG student at IIT Kharagpur. I am from Siliguri, WB, India. 
                        br
                        | I have a keen interest in AI, Machine Learning and Deep Learning, specifically in the field of Computer Vision and Forecasting in Time Series Data Analysis. I am also equipped with Natural Language Processing and LLM. I aspire to solve the real-world problems and build or contribute to the applications that can be helpful for mankind.
                        br
                        br
                        | Do connect with me using below mentioned handles!
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/ayan-singha-025b25224/', target="_blank")
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/Ayansingha22', target="_blank")
                            i.fab.fa-github

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Indian Institute of Technology Kharagpur
                            .subheading.mb-3 Dual Degree (M.Tech) in Agricultural and Food Engineering
                            p Overall CGPA: 8.35 (out of 10)
                            //- | Major CGPA: 9.03
                        .flex-shrink-0
                            span.text-primary Expected May 2026

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 BSF Senior Secondary Residential School, Kadamtala
                            .subheading.mb-3 Higher Secondary (CBSE)
                            p Percentage: 96.6
                        .flex-shrink-0
                            span.text-primary 2021
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Good Shepherd School, Bagdogra
                            .subheading.mb-3 Secondary (ICSE)
                            p Percentage: 96.4
                        .flex-shrink-0
                            span.text-primary 2019

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 AI for Time Series Data Analysis
                            .subheading.mb-3 Research Internship (Signal Processing and Artificial Intelligence Group, IIT Kharagpur)
                            ul
                            li Analyzed time series data to combine temporal variations and frequency data using FFT/DFT for Forecasting
                            li Explored new paradigm of AI, Complex-valued neural network to apply for 5 state-of-the art time series tasks
                            li Analyzed existing models like FEDformer, Autoformer, TimesNet that uses PyTorch and compared the results
                        .flex-shrink-0
                            span.text-primary Feb 2024 &mdash; Present
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 SEMELESS | Product Strategy | AI Automation
                            .subheading.mb-3 Product Strategy and AI Automation internship at Semeless (Remote)
                            ul 
                            li Performed Competitor Analysis to understand competitors' strengths and weaknesses and find market gap
                            li Implemented SWOT Analysis to identify areas of growth, studied about failed and successful news websites
                            li Employed LLMs, like Meta LLaMA, Mistral 7B Instruct v0.1 to generate text for memes with Meme Name
                            li Utilized Web Scraping and Prompt Engineering strategies to improve the accuracy of the model by 40-45%
                        .flex-shrink-0
                            span.text-primary Feb 2024 &mdash; Jun 2024
            
            // Projects
            section#projects.resume-section
               .resume-section-content
                    h2.mb-5 Projects

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Document-Genie | AI Chatbot
                            .subheading.mb-3 LangChain, Streamlit, FAISS, Generative AI
                            ul
                            li  Developed and deployed an AI Chatbot on Streamlit Community Cloud which responds to queries from uploaded docs
                            li Utilized Langchain, Streamlit, RAG process to minimize hallucinations, FAISS vector database for efficient data retrieval
                            li Employed PyPDF2 for PDF reading and integrated Google API keys to access Google Generative AI model Gemini-PRO
                            //- p
                            //-     | #[strong Collected a dataset of 50k benign samples] by innovatively tackling the copyright hinderance; working towards publishing the novelty and the dataset
                                //- <br>
                                //- | #[i side note:] to the best of our knowledge, such a massive collection of benign samples does not exist yet. Therefore, #[strong we intend to establish a yardstick for the whole domain]

                        .flex-shrink-0
                            a.subheading.demo-links.social-icon(href='https://github.com/Ayansingha22/Document-Genie-AI-Chatbot', target="_blank")
                                i.fab.fa-github
                                | Github
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Image Reconstruction
                            .subheading.mb-3 BiLSTM, Pix2Pix, Stable Diffusion
                            ul
                            li Reconstructed and restored masked images with two 75x75 blacked-out pats using image reconstruction techniques
                            li Employed various machine learning techniques like  Pix2Pix, Stable Diffusion, and BiLSTM for image reconstruction
                            li Achieved Root Mean Squared Error of 0.19913 with BiLSTM model and the error value of 1.27668 with Pix2Pix model
                            //- p
                            //-     | #[strong Collected a dataset of 50k benign samples] by innovatively tackling the copyright hinderance; working towards publishing the novelty and the dataset
                                //- <br>
                                //- | #[i side note:] to the best of our knowledge, such a massive collection of benign samples does not exist yet. Therefore, #[strong we intend to establish a yardstick for the whole domain]

                        .flex-shrink-0
                            a.subheading.demo-links.social-icon(href='https://github.com/Ayansingha22/Image_Reconstruction', target="_blank")
                                i.fab.fa-github
                                | Github

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-3 Other Notable Projects
                            .subheading.mb-1 Web3 Wallet using Blockchain
                            ul 
                            li Implemented the concept of Web3 i.e Blockchain based Cryptocurrency Wallet for Solana and Ethereum crypto coins.
                            li Implemented this Heirarchical-Deterministic (HD) wallet using libraries like React, bip39, @solana, ethers, etc. 
                            li Employed to generate multiple public and private keys (key pair) from a master key (seed) to enhance privacy and security.
                            a.subheading.demo-links.social-icon(href='https://github.com/Ayansingha22/Web3-Wallet', target="_blank")
                                i.fab.fa-github
                                | Github
                            <br>
                            <br>
                            .subheading.mb-1 CIFAR-10 Object Classification
                            ul
                            li Implemented K-NN, RF and CNN classifier methods to perform Multi-Class Object Classification, to compare the results
                            li Incorporated techniques like PCA, One-Hot Encoding and generated the Confusion Matrix for comparison of the models
                            li Achieved f1-Scores of 42.0, 48.0, 90.0 for KNN, RF, CNN respectively, indicating CNN to be the most optimal classifier
                            a.subheading.demo-links.social-icon(href='https://github.com/Ayansingha22/CIFAR_Object_Classification', target="_blank")
                                i.fab.fa-github
                                | Github

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages 
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-golang
                        li.list-inline-item
                            i.fab.fa-python
                        li.list-inline-item
                            i.icon-cplusplus
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-js
                    .subheading.mb-3 Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-node
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-docker
                        li.list-inline-item
                            i.fab.fa-linux
                        li.list-inline-item
                            i.fab.fa-git
                        li.list-inline-item
                            i.fab.fa-aws
                    
                    p.mt-5 Always up for trying & learning new things.

            hr.m-0

            // Position of Responsibility
            section#por.resume-section
                .resume-section-content
                    h2.mb-5 Position of Responsibility

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Secretary: Photography and Videography
                            .subheading.mb-3 Technology Students’ Gymkhana — IIT Kharagpur
                        .flex-shrink-0
                            span.text-primary Oct' 2022 &mdash; Apr' 2023

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Secretary: Mess Committee Member
                            .subheading.mb-3 Rajendra Prasad Hall of Residence — IIT Kharagpur
                        .flex-shrink-0
                            span.text-primary Oct' 2022 &mdash; Apr' 2023

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
